.listed-element {
    display: block;
    background: #ddd;
    text-decoration: none;
    color: #222;

    padding: .25em 1em;
}

.listed-element:hover {
    background: #eee;
    color: #000;
}

.listed-element:active {
    background: #bbb;
    color: #f00;
}

.listed-element.item,
.listed-element.user {
    min-height: 3em;
}
