
.tclMain {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1fr;
    grid-gap: .5em;
    padding: 0;
}

.tclMain.detailed {
    grid-template-rows: 3em 20% 1fr ;
}

.tclMain.detailed .tclEditor {
    display: block;
}

.tclPage {
    overflow-y: auto;
    color: #000;
    background: #fff;
    padding: 1em;
}

.tclList {
    min-width: 150px;
    grid-column: 1;
    grid-row: 2;
}

.tclEditor {
    display: none;
    grid-column: 1;
    grid-row: 3;
}

.tclNav {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    padding: .5em;
    background: rgba(64, 64, 80, .8);
    color: white;
    box-shadow: 0 0 4px black;
}

.tclNav li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

@media only screen and (min-width: 800px) {
    .tclMain {
        grid-template-columns: 150px 1fr;
        grid-template-rows: 1fr;
    }
    .tclMain.detailed {
        grid-template-columns: 150px 300px 1fr;
        grid-template-rows: 1fr;
    }
    .tclNav {
        grid-column: 1;
        grid-row: 1;
    }
    .tclList {
        grid-column: 2;
        grid-row: 1;
    }
    .tclEditor {
        grid-column: 3;
        grid-row: 1;
    }
}