html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #333;
}

@media only screen and (min-width: 600px) {
    .no-desktop {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    .no-mobile {
        display: none !important;
    }
}

.field {
    padding: .5em;
    margin: .5em 0;
    /* text-align: right; */
    /* border-bottom: 1px solid #888; */
}

.field input {
    background: #ccc;
    font-weight: 700;
    border: 1px solid #333;
    text-align: right;
    padding: .5em;
    float: right;
    /* margin: -.5em 0; */
}

.field input:disabled {
    opacity: .5;
}