@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(90deg)}
}

.spin {
    font-size: 24px;
    animation: spin .5s infinite linear;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #333;
}

.field {
    padding: .5em;
    margin: .5em 0;
    text-align: right;
    border-bottom: 1px solid #888;
}

.field label {
    float: left;
}

.field input {
    background: none;
    font-weight: 700;
    border: none;
    text-align: right;
    padding: .5em;
    margin: -.5em 0;
}